.side-bar{
  color: $text-color-dark;
  background-color: $background-dark;
  .contacts-title{
    color: white;
    background-color: $secondary-color;
    margin:0 0 10px 0;
    text-align: center;
    padding: 25px 0 25px 0;
    cursor: pointer;
  }
  .title{
    margin:0 10px 0px 10px;
    text-align: center;
    padding: 25px 0 25px 0;
    border-bottom: 3px solid $background-light;
  }
  .conversation{
    border-bottom: 3px solid $background-light;
    padding: 10px 20px;
    margin:0 10px 0px 10px;
    cursor: pointer;
  }
}