<div class="col-md-12">
	<ul ng-repeat="contact in contacts">
		<li ng-click="openConversation(contact._id)">{{contact.name}} - {{contact.email}}</li>
	</ul>
</div>

<div class="add-contact">
  <form class="form-horizontal" role="form" ng-submit="addContact()">
    <div class="send-message">
      <div class="input-group">
        <input type="email" class="form-control" id="contactEmail" placeholder="email address" ng-model="email">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Add Contact!</button>
        </span>
      </div>
    </div>
  </form>
</div>



